- if alert
  .alert-message.error= alert
.hero-unit
  %h1 Sample App for SalesKing
  %p Painless,Easy,Empty,

.row
  .span5
    %h5 Write an app
    %p In Ruby, PHP, Java, Smalltalk
  .span5
    %h5 Activate the app
    %p Login to Salesking, Apps...
  .span5
    %h5 Fork on Github
    %p Download, fork, pull, file issues, and more with the official repo on Github.
    %a.btn.success(target="_blank" href="https://github.com/koos/sk_sample" class="")Salesking Sample on GitHub &raquo;
