- if alert
  .alert-message.error= alert
.hero-unit
  %h1 DATEV App for SalesKing
  %p Painless,Easy,Empty,

.row
  .span5
    %h5 Generate an Invoice
    %p ...
  .span5
    %h5 Export
    %p ...
  .span5
    %h5 And send it to your tax accountant
    %p ...
    %a.btn.success(target="_blank" href="https://github.com/koos/sk_sample" class="")Learn more about SK Sample Apps &raquo;
    %a.btn.success(href="exports" class="")Start now! &raquo;
